<div class="row">
  <div class="col-md-5">
    <h2 class="text-center">Resend confirmation instructions</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
         <% if resource.errors.any? %><div class="alert alert-danger"><%= devise_error_messages! %></div><% end %> 

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
          </div><br/>

          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
