<h3><%= @reason.name %></h3>

<%= pie_chart url_for(:controller => :graphs, :action => :reason_feedback_types, :id => @reason.id) %>

<p><%= pluralize(@reason.posts.count, "post") %> caught, most recent <%= time_ago_in_words(@reason.most_recent.created_at) %> ago</p>
<ul>
  <% @feedback_counts.each do |fc| %>
    <li><%= "#{fc[1]} #{fc[0]}" %></li>
  <% end %>
</ul>

<% @posts.each do |post| %>
  <%= render 'posts/post', :post => post %>
<% end %>

<div class="text-center">
  <%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>
</div>
