<h3>Post Feedback</h3>
<p>Feedback on: <%= link_to @post.title, url_for(:controller => :posts, :action => :show, :id => @post.id) %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Owner</th>
      <th>Type</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @post.feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.id %></td>
        <td>
          <% link = "https://chat.#{@users.where(:chat_so_id => feedback.chat_id).present? ? "stackoverflow" : "stackexchange"}.com/users/#{feedback.chat_id}"%>
          <%= link_to feedback.chat_username, link %>
          <% user = @users.where(:chat_so_id => feedback.chat_id).or(@users.where(:chat_se_id => feedback.chat_id)) %>
          <% if user.present? %>
            (<%= user.first.username %>)
          <% end %>
        </td>
        <td style="color:<%= feedback.feedback_type.color %> !important;">
          <%= link_to feedback.feedback_type.name, url_for(:controller => :posts, :action => :with_feedback, :type => feedback.feedback_type.short_code) %>
        </td>
        <td><%= time_ago_in_words(feedback.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Flags</h3>
<p>Flags that have been cast via Sentinel.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Owner</th>
      <th>Type</th>
      <th>Flagged</th>
    </tr>
  </thead>
  <tbody>
    <% @post.flags.each do |flag| %>
      <tr>
        <td><%= flag.id %></td>
        <td><%= link_to flag.user.username, "http://chat.stackoverflow.com/users/#{flag.user.stack_user.chat_so_id}" %></td>
        <td><%= flag.flag_type %></td>
        <td><%= time_ago_in_words flag.created_at %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
