<h3>Post Feedback</h3>
<p>Feedback on: <%= link_to @post.title, url_for(:controller => :posts, :action => :show, :id => @post.id) %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Owner</th>
      <th>Type</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @post.feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.id %></td>
        <td>
          <%= link_to feedback.chat_username, "http://chat.stackoverflow.com/users/#{feedback.chat_id}" %>
          <% user = @users.where(:chat_so_id => feedback.chat_id) %>
          <% if @user.present? %>
            (<%= @user.user.username %>)
          <% end %>
        </td>
        <td style="color:<%= feedback.feedback_type.color %> !important;">
          <%= link_to feedback.feedback_type.name, url_for(:controller => :posts, :action => :with_feedback, :type => feedback.feedback_type.short_code) %>
        </td>
        <td><%= time_ago_in_words(feedback.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
