<h3>
  <%= link_to @post.title, @post.link %>
  <%= render 'feedbacks/feedback', :type => @post.majority_feedback, :post => @post %>
</h3>
<p><strong>Detection score: </strong><%= @post.nato_score %></p>
<pre><code><%= @post.body %></code></pre>
<div class="post-details clearfix">
  <div class="meta-details pull-left text-left">
    Posted <%= time_ago_in_words(@post.post_creation_date) %> ago |
    reported <%= time_ago_in_words(@post.created_at) %> ago
  </div>
  <div class="user-details pull-right text-right">
    Posted by <%= link_to @post.username, @post.user_link %> (<%= @post.user_reputation %>)
  </div>
</div>

<br/>

<p><strong>Caught by <%= pluralize(@post.reasons.count, "reason") %>:</strong></p>
<ul class="post-reasons">
  <% @post.reasons.each do |reason| %>
    <li><%= link_to reason.name, url_for(:controller => :reasons, :action => :show, :id => reason.id) %></li>
  <% end %>
</ul>

<br/>

<% if user_signed_in? && current_user.has_role?(:admin) %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Admin tools</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to "Edit", url_for(:controller => :posts, :action => :edit, :id => @post.id) %></li>
        <li><%= link_to "Delete", url_for(:controller => :posts, :action => :destroy, :id => @post.id), :method => :delete,
                :class => "text-danger", :data => { :confirm => "Are you sure? This can't be undone." } %></li>
      </ul>
    </div>
  </div>
<% end %>
